* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-text-color: white;
    --black-border-color: 1px solid rgba(0 0 0 / 0.3);
    --blue-color: #247;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 25em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 45px;
    left: 150px;
}

footer {
    margin-top: 15px;
    border-top: var(--black-border-color);
    text-align: center;
}

nav {
    background-color: var(--blue-color);
    padding: 10px;
}

nav a {
    color: var(--light-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--blue-color);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--black-border-color);
    padding: 1rem;
    background-color: var(--blue-color);
    color: var(--light-text-color);
}